@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="youtubeContainer">
    <div style="height:50px;"></div>
    <div class="headCont">
        <h3 class="head">Youtube</h3>
    </div>
    <h5 class="sloganHeader">Ride for Family, Fun, and Fitness.</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">Come stop by for bike & scooter Vending.</li>
                <li class="item"><i>Call 1+ 440-487-5018 for any inquiries.</i></li>
            </ul>
            
    <form id="form" onsubmit="return false;">
        <input  type="number" id="userInput" />
        <input  type="submit" onclick="submitForm();" />
    </form>
        </div>
        <div class="sectTwo">
          <img src="css\ProfilPicture.jpg" style="height: 100px;"/>
        </div>
    </div>
</div>
