@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="indexContainer">
    <div style="height:50px;"></div>
@*    <div class="headCont">
        <h3 class="head">Youtube</h3>
    </div>*@
    <h5 id=''class="sloganHeader" style="text-align:center;">"A man's worth is no greater than his ambitions." -Marcus Aurelius</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">Developer</li>
                <li class="item">Musician</li>
                <li class="item">Euntrapaneur</li>
                <li class="item">Hobbyist</li>
                <li class="item">Content Creator</li>
            </ul>
        </div>
        <div class="sectTwo">
          <img id="indexImg" src="css\ProfilPicture.jpg" style="height: 250px;"/>
        </div>
    </div>

    <div id="hutContainer">
        <img id="beachHut" src="css/beachHut.jpg"/>
        <form id="form" onsubmit="return false;">
            <input class="beachHutInput" type="number" value="1" id="userInput" />
           <button id="beachHutSubmit" type="submit" onclick="submitForm();">Go</button>
        </form>
    </div>

</div>
