/*General*/
:root {
    --darkestGrey: #343631;
    --lightBrown: #926f47;
    --darkBlue: #366a82;
    --lightBlue: #89d0ee;
    --lightestBlue: #ddf3fe;
    --tanWhite: #fefbf6;
    --outlineColor: transparent; /*#00ff21*/
    --lightGrey: #D3D3D3;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
  
    margin-bottom: 60px;
    background-color: var(--tanWhite);
}

a{
    color:none;
    text-decoration:none;
}

ul {
    list-style: none;
    margin: 0px;
    width: 100%;
    padding: 0;
    text-align: center;
    outline: 2px solid var(--outlineColor);
}

li {
    /*  background-color: #ebebeb;
    border-radius: 5px;*/
    display: inline-block;
    /*margin: 10px 1.5%;*/
    border: 2px solid var(--outlineColor);
    font-family: "Times New Roman";
}

/*Navbar*/
#navbarContainer {
    outline: 2px dashed var(--outlineColor);
}

#navbarHeadingContainer {
    display: flex;
    height: 125px;
    align-items: center;
    justify-content: center;
    outline: 2px dashed var(--outlineColor);
}

#navbarHeading {
    font-size: 64px;
    font-family: "Amatic SC";
    color: var(--darkBlue);
    text-align: center;
    outline: 2px dashed var(--outlineColor);
}

a.nav-link:link {
    text-decoration: none;
    font-weight: normal;
    outline: 2px dashed var(--outlineColor);
}

a.nav-link:visited {
    color: var(--darkestGrey);
    text-decoration: none;
    font-weight: normal;
    outline: 2px dashed var(--outlineColor);
}

a.nav-link:hover {
    color: var(--lightBrown);
    text-decoration: none;
    font-weight: normal;
    outline: 2px dashed var(--outlineColor);
}

a.nav-link:active {
    color: var(--darkBlue);
    text-decoration: none;
    font-weight: normal;
    outline: 2px dashed var(--outlineColor);
}

.nav-item {
    font-size: 22px;
    font-family: "Times New Roman";
    outline: 2px dashed var(--outlineColor);
}

/*Dropdown NavItem*/
.nav-link.dropdown-toggle {
    color: var(--darkestGrey);
    outline: 2px dashed var(--outlineColor);
}

a.dropdown {
    outline: 2px dashed var(--outlineColor);
}

.nav-item .dropdown-menu {
    display: block;
    border:none;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
    background-color: var(--lightGrey);
    outline: 2px dashed var(--outlineColor);
}

.dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
}

.dropdown-menu.fade-up {
    top: 180%;
}

.nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
    outline: 2px dashed var(--outlineColor);
}

.dropdown-item {
    background-color: var(--lightGrey);
    color: var(--lightBrown);

}

.dropdown-item:hover{
    background-color:var(--lightGrey);
    color: var(--darkBlue);
}

/*Taking care of the stupic godamn links*/
#discordItem {
    background-color: var(--lightGrey);
    color: var(--lightBrown);
}

#discordItem:hover {
    background-color: var(--lightGrey);
    color: var(--darkBlue);
}

#twitchItem {
    background-color: var(--lightGrey);
    color: var(--lightBrown);
}

#twitchItem:hover {
    background-color: var(--lightGrey);
    color: var(--darkBlue);
}

#youtubeItem {
    background-color: var(--lightGrey);
    color: var(--lightBrown);
}

#youtubeItem:hover {
    background-color: var(--lightGrey);
    color: var(--darkBlue);
}

#musicItem {
    background-color: var(--lightGrey);
    color: var(--lightBrown);
}

#musicItem:hover {
    background-color: var(--lightGrey);
    color: var(--darkBlue);
}
#gitItem {
    background-color: var(--lightGrey);
    color: var(--lightBrown);
}

#gitItem:hover {
    background-color: var(--lightGrey);
    color: var(--darkBlue);
}

/*Index Page*/
#indexPageContainer {
    height: 200px;
}

#indexImg{
    border-radius: 16px;
}

#beachHut {
    z-index: -1;
    position: absolute;
    top: 63%;
    height: 350px;
    outline: 2px dashed var(--outlineColor);
}

.beachHutInput {
    position: absolute;
    left: 58%;
    top: 100px;
    background-color: transparent;
    width: 45px;
    font-size: 32px;
    text-align:center;
    border: none;
    outline: 2px dashed var(--outlineColor);
}

    .beachHutInput:focus {
        position: absolute;
        left: 58%;
        top: 100px;
        background-color: transparent;
        width: 45px;
        font-size: 32px;
        text-align: center;
        border: none;
        outline: 2px dashed var(--outlineColor);
    }

#beachHutSubmit {
    position: absolute;
    left: 40%;
    top: 210px;
    background-color: var(--lightestBlue);
    outline: none;
    border: none;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    font-weight:700;
    font-size: 12px;
    color: var(--darkestGrey);
    outline: 2px dashed var(--outlineColor);
}

#hutContainer {
    position: relative;
    width: 300px;
    outline: 2px dashed var(--outlineColor);
}

/*Contact*/
#contactContainer {
    height: 200px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

.headCont {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

.head {
    font-size: 36px;
    outline: 2px solid var(--outlineColor);
}

.sectBody {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

.sloganHeader {
    /*  font-family: 'Architects Daughter';*/
    font-family: "Times New Roman";
    width: 100%;
    display: flex;
    font-size: 28px;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

.list {
    text-align: center;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

.item {
    font-size: 20px;
    height: 36px;
    width: 100%;
    padding: 10px;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

.sectOne {
    width: 33%;
    outline: 2px solid var(--outlineColor);
}

.sectTwo {
    width: 33%;
    outline: 2px solid var(--outlineColor);
}

/*Footer*/
#pageFooter{
    background-color: var(--darkBlue);
    color: var(--lightestBlue);
    height: 67px;
    outline: none;
}

/*Different Size Display*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}